.container{
  width: 1280px;
  height: 720px;
  border: 1px solid black;
  background-color: white;
}

.gridMainMenu {  display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 6fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "other other other";
    align-content: center; 
    align-items: center;
}
  
.header { grid-area: header; }
.other { grid-area: other; }

.gridMainPedir {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 6fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "other other other";
}

.header { grid-area: header; }
.other { grid-area: other; }

.gridHeader {
display: grid; 
grid-auto-columns: 1fr; 
grid-auto-rows: 1fr; 
grid-template-columns: 0.5fr 2.5fr 0.5fr; 
grid-template-rows: 1fr; 
gap: 0px 0px; 
grid-template-areas: 
    "btnHome title btnCart"; 
}

.btnHome { grid-area: btnHome; }
.title { grid-area: title; }
.btnCart { grid-area: btnCart; }

.gridHome {  display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "btnPedir btnReservar btnCalendario";
}
  
.btnMenu { grid-area: btnMenu; } 
.btnPedir { grid-area: btnPedir; } 
.btnReservar { grid-area: btnReservar; }
.btnCalendario { grid-area: btnCalendario; }


.gridFood {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 50px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "menuF menuF menuF"
      "food1 food2 food3"
      "food4 food5 food6"
      "voltar none conti";
}
  
.menuF { grid-area: menuF; }
.food1 { grid-area: food1; }
.food2 { grid-area: food2; }
.food4 { grid-area: food4; }
.food3 { grid-area: food3; } 
.food5 { grid-area: food5; } 
.food6 { grid-area: food6; }
.voltar { grid-area: voltar; }
.conti { grid-area: conti; }

.gridOpcoes {  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 10% 10% 10% 20% 40%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . yesNo"
    "option1 option1 yesNo1 "
    "option2 option2 yesNo2 "
    "option3 option3 yesNo3 "
    ". . ."
    "voltar . conti ";
}

.yesNo { grid-area: yesNo; }
.option1 { grid-area: option1; }
.option2 { grid-area: option2; }
.option3 { grid-area: option3; }
.yesNo1 { grid-area: yesNo1; }
.yesNo2 { grid-area: yesNo2; }
.yesNo3 { grid-area: yesNo3; }
.conti { grid-area: conti; }
.voltar { grid-area: voltar; }

.gridFinalizarPedido {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr 0.25fr 0.25fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "hearderFin hearderFin hearderFin"
    ". infoPedido ."
    "infoTempo infoTempo infoTempo"
    "infoPreco infoPreco infoPreco"
    "voltar . conti";
}

.hearderFin { grid-area: hearderFin; }
.infoPedido { grid-area: infoPedido; }
.infoTempo { grid-area: infoTempo; }
.infoPreco { grid-area: infoPreco; }
.voltar { grid-area: voltar; }
.conti { grid-area: conti; }


.gridOpcaoPag {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 60% 20% 10%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 40px 40px;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "formaDePagamento formaDePagamento formaDePagamento"
    "MBWay multibanco payPal"
    "infoNumb infoNumb infoNumb"
    "voltar . conti";
}

.voltar { grid-area: voltar; }
.conti { grid-area: conti; }
.formaDePagamento { grid-area: formaDePagamento; }
.MBWay { grid-area: MBWay; }
.multibanco { grid-area: multibanco; }
.payPal { grid-area: payPal; }
.infoNumb { grid-area: infoNumb; }


/*-----------------------------------------------------------------------------------*/
.gridReserva{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 80% 20%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 100px 0px;
  grid-auto-flow: row;
  grid-template-areas: 
    "formInfo formInfo formInfo"
    "voltar . conti";
}

.formInfo {grid-area: formInfo; }
.voltar { grid-area: voltar; }
.conti { grid-area: conti; }

.gridForm{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 15% 15% 15% 5%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-content: center;
  align-items: center;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "mesa"
    "nome"
    "calendario"
    "quantidadePessoas"
    "espaco";
}

.mesa { grid-area: mesa;}
.nome { grid-area: nome;}
.calendario {  grid-area: calendario; } 
.quantidadePessoas { grid-area: quantidadePessoas ;}
.espaco { grid-area: espaco;}

.gridFinalizarPedido { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr 0.25fr 0.25fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "headerFin headerFin headerFin"
    ". infoPedido ."
    "infoTempo infoTempo infoTempo"
    "infoPreco infoPreco infoPreco"
    "voltar . conti";
}
.headerFin { grid-area: headerFin; }
.infoPedido { grid-area: infoPedido; }
.infoTempo { grid-area: infoTempo; }
.infoPreco { grid-area: infoPreco; }
.voltar { grid-area: voltar; }
.conti { grid-area: conti; }

.gridFinalizarReservaPedido {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.35fr 0.25fr 0.35fr 1fr 0.25fr 0.15fr 0.25fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "headerRes headerRes headerRes"
    ". infoReserva ."
    "headerFin headerFin headerFin"
    ". infoPedido ."
    "infoTempo infoTempo infoTempo"
    "infoPreco infoPreco infoPreco"
    "btnCancelarReserva . concluir";
}

.headerFin { grid-area: headerFin; }
.headerRes { grid-area: headerRes; }
.infoReserva { grid-area: infoReserva; }
.infoPedido { grid-area: infoPedido; }
.infoTempo { grid-area: infoTempo; }
.infoPreco { grid-area: infoPreco; }
.btnCancelarReserva { grid-area: btnCancelarReserva; }
.concluir { grid-area: concluir; }

.gridDividirPagamento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 30px 20px;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "headerDividir headerDividir headerDividir"
    "quantosDividir quantosDividir quantosDividir"
    "numeroTelemovel numeroTelemovel numeroTelemovel"
    "totalPPessoa totalPPessoa totalPPessoa"
    "btnVoltar . btnPagar";
}

.headerDividir {
  grid-area: headerDividir;
}

.quantosDividir {
  grid-area: quantosDividir;
}

.numeroTelemovel{
  grid-area: numeroTelemovel;
}

.totalPPessoa {
  grid-area: totalPPessoa;
}

.btnPagar {
  grid-area: btnPagar;
}

.btnVoltar {
  grid-area: btnVoltar;
}